<div class="form-group">
    <label class="col-md-4 control-label">Items</label>
    <div class="col-md-4">
        <ul class="list-group row">
            <li class="list-group-item col-xs-3">Idli</li>
            <li class="list-group-item col-xs-3">Dosa</li>
            <li class="list-group-item col-xs-3">Vada</li>
            <li class="list-group-item col-xs-3">Bajji</li>
            <li class="list-group-item col-xs-3">Coffee</li>
            <li class="list-group-item col-xs-3">Sweet</li>
        </ul>
    </div>
</div>